.skill-panel-grid__item {
    background: white;
    border-radius:  100%;
    color: #555;
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: 1em 2em 0.1em 2em;
    position: relative;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: ease 2s;

    h5 {
        margin-left: -100%;
        margin-right: -100%;
        transition: color  1s;
    }

    &:hover, &:focus, &:active{
        background: #51BAA4;
        
        h5 {
            color: #FFF;
           
        }

    }
}
